.about-photo {
    width: 200px;
}

.photo-info {
    text-align: left;
}

@media only screen and (min-width: 1400px) {
    .about-photo {
        width: 250px;
    }
}

@media only screen and (max-width: 990px) {
    .photo-info {
        margin-top: 10px;
        text-align: center;
    }
}