.home-icon {
    width: 40px;
}

.home-title {
    margin-bottom: 30px;
}

.hint-box {
    margin-top: 20px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 1px dashed grey;
    border-radius: 5px;
    background-color: lightgray;
}

@media only screen and (min-width: 992px) {
    .type-coverage-table {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .type-coverage-table {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

